<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" type="text/css" href="news.scss"/>
<script type="text/javascript" src="jquery-3.1.1.js"></script>
  <script type="text/javascript" src="slick/slick.min.js"></script>
  <script src="main.js"></script>
  <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>

  <div class="slider">
    <img src="http://res.cloudinary.com/esthertan/image/upload/c_lfill,h_270,w_1054/v1484058492/Young_girl_with_American_flag_k9eooy.jpg">
    <img src="http://res.cloudinary.com/esthertan/image/upload/c_lfill,h_270,w_1054/v1484058450/Lying_on_snow-roksolana-zasiadko_fdvxgw.jpg">
    <img src="http://res.cloudinary.com/esthertan/image/upload/c_lfill,h_270,w_1054/v1484062979/zj5azqccyxg-kristopher-roller_j4bijv.jpg">
  </div>

<div class="divider"></div>
 <div class="row">
   <h5>Fashion</h5>
   <div class="Fashion col s4">
       <%= link_to "Fashion", article_index_path %>
       <img src="http://res.cloudinary.com/esthertan/image/upload/c_scale,w_286/v1485249189/gallery-1485180128-hbz-melania-ralph-lead_sflhb6.jpg" />
   </div>
   <div class="Fashion col s4">
     <%= link_to "Fashion", article_index_path %>
     <img src="http://res.cloudinary.com/esthertan/image/upload/c_scale,w_204/v1485249277/hbz-couture-fw2017-dior-08_udoz2n.jpg" />
   </div>
   <div class="Fashion col s4">
     <%= link_to "Fashion", article_index_path %>
     <img src="http://res.cloudinary.com/esthertan/image/upload/c_scale,w_194/v1485249294/hbz-prefall-2017-trends-slim-suits-versace_1_hkkms1.jpg" />
   </div>
 </div>
</div>

    <div class="divider"></div>
    <div class="row">
      <h5>News</h5>
    <div class= "News col s4">
    <%= link_to "News", article_index_path %>
    <img src="http://res.cloudinary.com/esthertan/image/upload/c_scale,w_294/v1485249230/China_-_Internet_censorship_eaeecn.jpg" />
  </div>
  <div class="News col s4">
    <%= link_to "News", article_index_path %>
    <img src="http://res.cloudinary.com/esthertan/image/upload/c_scale,w_277/v1485249231/london-eye_pollution_wwdtld.jpg" />
  </div>
  <div class="News col s4">
    <%= link_to "News", article_index_path %>
    <img src="http://res.cloudinary.com/esthertan/image/upload/c_scale,w_237/v1485249231/National_exceeds_urban_dzugky.jpg" />
  </div>
</div>
</div>
  </div>


  <div class="divider"></div>
  <div class="row">
    <h5>Business</h5>
  <div class="Business col s4">
  <%= link_to "Business", article_index_path %>
    <img src="http://res.cloudinary.com/esthertan/image/upload/c_scale,w_311/v1485249250/Chan_Zuckerberg_ns6p6s.jpg" />
  </div>
  <div class="Business col s4">
    <%= link_to "Business", article_index_path %>
    <img src="http://res.cloudinary.com/esthertan/image/upload/c_scale,w_309/v1485249216/Screen_Shot_2017-01-24_at_12.41.46_pm_kg3ycu.png" />
  </div>
  <div class="Business col s4">
    <%= link_to "Business", article_index_path %>
    <img src="http://res.cloudinary.com/esthertan/image/upload/c_scale,w_305/v1485249251/800x-1_jixutv.png" />
  </div>
</div>
</div>
  </div>

  <div class="divider"></div>
  <div class="row">
    <h5>Property</h5>
      <div class="Property col s4">
    <%= link_to "Property", article_index_path %>
    <img src="http://res.cloudinary.com/esthertan/image/upload/c_scale,w_302/v1485249215/Unit_mi6uxa.jpg" />
  </div>
    <div class="Property col s4">
      <%= link_to "Property", article_index_path %>
      <img src="http://res.cloudinary.com/esthertan/image/upload/c_scale,w_300/v1485249213/Clutter_dsyhru.jpg" />
    </div>
    <div class="Property col s4">
      <%= link_to "Property", article_index_path %>
      <img src="http://res.cloudinary.com/esthertan/image/upload/c_scale,w_298/v1485249215/Property_hpxvmk.jpg" />
    </div>
  </div>
  </div>
