<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>

<div class="autoplay slider">
  <img src="http://res.cloudinary.com/esthertan/image/upload/v1485339839/Spring_2FSummer_2017_Couture_carousel_vkazo5.png">
  <img src="http://res.cloudinary.com/esthertan/image/upload/v1485442024/2_pbhw2j.png">
  <img src="http://res.cloudinary.com/esthertan/image/upload/v1485442025/3_xsaude.png">
</div>


  <div class="divider"></div>
   <div class="row">
     <h5 id="fashion">Fashion</h5><br>
     <div class="Fashion col s4">
        <%= link_to @fashion_articles.first.heading, article_path(@fashion_articles.first) %>
      <%= image_tag @fashion_articles.first.image %>
     </div>
     <div class="Fashion col s4">
      <%= link_to @fashion_articles.second.heading, article_path(@fashion_articles.second) %>
      <%= image_tag @fashion_articles.second.image %>
     </div>
     <div class="Fashion col s4">
      <%= link_to @fashion_articles.third.heading, article_path(@fashion_articles.third) %>
      <%= image_tag @fashion_articles.third.image %>
     </div>
   </div>
  </div>

    <div class="divider"></div>
    <div class="row">
      <h5 id="news">News</h5><br>
    <div class= "News col s4">
    <%= link_to @news_articles.first.heading, article_path(@news_articles.first) %>
    <%= image_tag @news_articles.first.image %>
  </div>
  <div class="News col s4">
  <%= link_to @news_articles.second.heading, article_path(@news_articles.second) %>
    <%= image_tag @news_articles.second.image %>
  </div>
  <div class="News col s4">
  <%= link_to @news_articles.third.heading, article_path(@news_articles.third) %>
  <%= image_tag @news_articles.third.image %>
  </div>
</div>
</div>

<img src="http://res.cloudinary.com/esthertan/image/upload/v1485442576/Screen_Shot_2017-01-26_at_11.29.21_pm_jiywuc.png">

  <div class="divider"></div>
  <div class="row">
    <h5 id="business">Business</h5><br>
  <div class="Business col s4">
  <%= link_to @business_articles.first.heading, article_path(@business_articles.first) %>
      <%= image_tag @business_articles.first.image %>
  </div>
  <div class="Business col s4">
    <%= link_to @business_articles.second.heading, article_path(@business_articles.second) %>
        <%= image_tag @business_articles.second.image %>
  </div>
  <div class="Business col s4">
  <%= link_to @business_articles.third.heading, article_path(@business_articles.third) %>
        <%= image_tag @business_articles.third.image %>
  </div>
</div>
</div>


  <div class="divider"></div>
  <div class="row">
    <h5 id="property">Property</h5><br>
      <div class="Property col s4">
    <%= link_to @property_articles.first.heading, article_path(@property_articles.first) %>
    <%= image_tag @property_articles.first.image %>
  </div>
    <div class="Property col s4">
      <%= link_to @property_articles.second.heading, article_path(@property_articles.second) %>
      <%= image_tag @property_articles.second.image %>
    </div>
    <div class="Property col s4">
      <%= link_to @property_articles.third.heading, article_path(@property_articles.third) %>
      <%= image_tag @property_articles.third.image %>
    </div>
  </div>
  </div>
