<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<script src="main.js"></script>
<link rel="stylesheet" type="text/css" href="news.scss"/>
<link rel="stylesheet" type="text/css" href="slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
<script type="text/javascript" src="jquery-3.1.1.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="slick/slick.min.js"></script>

  <div class="divider"></div>
   <div class="row">
     <h5>Fashion</h5><br>
     <div class="Fashion col s4">
        <%= link_to @fashion_articles.first.heading, article_path(@fashion_articles.first) %>
      <%= image_tag @fashion_articles.first.image %>
     </div>
     <div class="Fashion col s4">
      <%= link_to @fashion_articles.second.heading, article_path(@fashion_articles.second) %>
      <%= image_tag @fashion_articles.second.image %>
     </div>
     <div class="Fashion col s4">
      <%= link_to @fashion_articles.third.heading, article_path(@fashion_articles.third) %>
      <%= image_tag @fashion_articles.third.image %>
     </div>
   </div>
  </div>

    <div class="divider"></div>
    <div class="row">
      <h5>News</h5><br>
    <div class= "News col s4">
    <%= link_to @news_articles.first.heading, article_path(@news_articles.first) %>
    <%= image_tag @news_articles.first.image %>
  </div>
  <div class="News col s4">
  <%= link_to @news_articles.second.heading, article_path(@news_articles.second) %>
    <%= image_tag @news_articles.second.image %>
  </div>
  <div class="News col s4">
  <%= link_to @news_articles.third.heading, article_path(@news_articles.third) %>
  <%= image_tag @news_articles.third.image %>
  </div>
</div>
</div>

  <div class="divider"></div>
  <div class="row">
    <h5>Business</h5><br>
  <div class="Business col s4">
  <%= link_to @business_articles.first.heading, article_path(@business_articles.first) %>
      <%= image_tag @business_articles.first.image %>
  </div>
  <div class="Business col s4">
    <%= link_to @business_articles.second.heading, article_path(@business_articles.second) %>
        <%= image_tag @business_articles.second.image %>
  </div>
  <div class="Business col s4">
  <%= link_to @business_articles.third.heading, article_path(@business_articles.third) %>
        <%= image_tag @business_articles.third.image %>
  </div>
</div>
</div>


  <div class="divider"></div>
  <div class="row">
    <h5>Property</h5><br>
      <div class="Property col s4">
    <%= link_to @property_articles.first.heading, article_path(@property_articles.first) %>
    <%= image_tag @property_articles.first.image %>
  </div>
    <div class="Property col s4">
      <%= link_to @property_articles.second.heading, article_path(@property_articles.second) %>
      <%= image_tag @property_articles.second.image %>
    </div>
    <div class="Property col s4">
      <%= link_to @property_articles.third.heading, article_path(@property_articles.third) %>
      <%= image_tag @property_articles.third.image %>
    </div>
  </div>
  </div>


</body>
